body{
    margin : 0;
    padding: 0;
    background-color: black;
}
.t8{
    opacity: 0.8;
}
.t4{
    opacity: 0.4;
}
.indexbanner{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
nav{
    position:fixed;
    width: 100%;
    z-index:1;
}
.fjalla{
    font-family: 'Fjalla One', sans-serif;
}
.black--bg{
    background-color: black;
}

.ptb6{padding-top:8rem;padding-bottom: 8rem;}
.ps5 {padding-left: 4rem;padding-right: 4rem;}

.jumbotxt{
    line-height: 100vh;
    vertical-align: center;
}
.cgptext{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background-color: black;
    opacity: 0.7;
}
.cgptext:hover{
    opacity: 0.9;
    color:rgba(255,255,255,1);
}
.selectorchild{
    background-size: cover;
    background-position: center center;
}
.flex-child {
    flex: 1;
    display: flex;
}
.intel:hover{
    color : #357edd;
    border: solid #357edd;
}
.AMD:hover{
    color : red;
    border: solid red;
}
.nvidia:hover{
    color : green;
    border: solid green;
}
.Apple:hover{
    color : dimgray;
    border: solid dimgray;
}
.selectorbox{
    height: 200px;
    width : 200px;
    margin: 1rem;
}
.directselector{
    display: flex;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.box{
    height: 300px;
    width:300px;
    margin: 1rem;
    background-position: center center;
    background-size: cover;
}
.direct{
    display: flex;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.direct:hover{
    background-color: rgba(0,0,0,0.9);
}


.indexbox{
    height: 500px;
    width:500px;
    background-position: center center;
    background-size: cover;
}
.indexdirect{
    display: flex;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.indexdirect:hover{
    background-color: rgba(0,0,0,0.9);
}
